<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Bootstrap Modals
          <small>Base</small>
        </div>
        <div class="card-body">
          <div class="row">
            <button
              type="button"
              class="btn btn-secondary ml-1 mt-1"
              data-toggle="modal"
              (click)="myModal.show()"
              tooltip="modal-dialog"
            >
              Base Modal
            </button>
            <button
              type="button"
              class="btn btn-secondary ml-1 mt-1"
              data-toggle="modal"
              (click)="largeModal.show()"
              tooltip="modal-dialog modal-lg"
            >
              Large modal
            </button>
            <button
              type="button"
              class="btn btn-secondary ml-1 mt-1"
              data-toggle="modal"
              (click)="smallModal.show()"
              tooltip="modal-dialog modal-sm"
            >
              Small modal
            </button>
          </div>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Modal-base'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Modal-base'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Modal-base'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Bootstrap Modals
          <small>Color</small>
        </div>
        <div class="card-body">
          <button
            type="button"
            class="btn btn-primary mr-1 mt-1"
            data-toggle="modal"
            (click)="primaryModal.show()"
            tooltip="modal-dialog modal-primary"
          >
            Primary modal
          </button>
          <button
            type="button"
            class="btn btn-success mr-1 mt-1"
            data-toggle="modal"
            (click)="successModal.show()"
            tooltip="modal-dialog modal-success"
          >
            Success modal
          </button>
          <button
            type="button"
            class="btn btn-warning mr-1 mt-1"
            data-toggle="modal"
            (click)="warningModal.show()"
            tooltip="modal-dialog modal-warning"
          >
            Warning modal
          </button>
          <button
            type="button"
            class="btn btn-danger mr-1 mt-1"
            data-toggle="modal"
            (click)="dangerModal.show()"
            tooltip="modal-dialog modal-danger"
          >
            Danger modal
          </button>
          <button
            type="button"
            class="btn btn-info mr-1 mt-1"
            data-toggle="modal"
            (click)="infoModal.show()"
            tooltip="modal-dialog modal-info"
          >
            Info modal
          </button>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Modal-color'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Modal-color'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Modal-color'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Bootstrap Modals
          <small>Long information</small>
        </div>
        <div class="card-body">
          <button
            type="button"
            class="btn btn-outline-dark mr-1 mt-1"
            data-toggle="modal"
            (click)="longcontentModal.show()"
          >
            Info modal
          </button>

          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Modal-info'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Modal-info'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Modal-info'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Bootstrap Modals
          <small>Vertical center</small>
        </div>
        <div class="card-body">
          <button
            type="button"
            class="btn btn-outline-dark mr-1 mt-1"
            data-toggle="modal"
            (click)="verticalcenterModal.show()"
          >
            Vertical center modal
          </button>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Modal-vertical'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Modal-vertical'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Modal-vertical'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Bootstrap Modals
          <small>Tooltips and popovers</small>
        </div>
        <div class="card-body">
          <button
            type="button"
            class="btn btn-outline-dark mr-1 mt-1"
            data-toggle="modal"
            (click)="tooltippopoverModal.show()"
          >
            Tooltips and popovers
          </button>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Modal-tooltip'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Modal-tooltip'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Modal-tooltip'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Bootstrap Modals
          <small>Grid</small>
        </div>
        <div class="card-body">
          <button
            type="button"
            class="btn btn-outline-dark mr-1 mt-1"
            data-toggle="modal"
            (click)="gridModal.show()"
          >
            Grid Modal
          </button>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Modal-grid'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Modal-grid'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Modal-grid'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #myModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button
          type="button"
          class="close"
          (click)="myModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="myModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  bsModal
  #largeModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button
          type="button"
          class="close"
          (click)="largeModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="largeModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  bsModal
  #smallModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button
          type="button"
          class="close"
          (click)="smallModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="smallModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  bsModal
  #primaryModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button
          type="button"
          class="close"
          (click)="primaryModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="primaryModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  bsModal
  #successModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button
          type="button"
          class="close"
          (click)="successModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="successModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  bsModal
  #warningModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button
          type="button"
          class="close"
          (click)="warningModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="warningModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-warning">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  bsModal
  #dangerModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button
          type="button"
          class="close"
          (click)="dangerModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="dangerModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-danger">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  bsModal
  #infoModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button
          type="button"
          class="close"
          (click)="infoModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="infoModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-info">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  bsModal
  #longcontentModal="bs-modal"
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button
          type="button"
          (click)="longcontentModal.hide()"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ inforMessage }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="longcontentModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #verticalcenterModal="bs-modal"
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button
          type="button"
          (click)="verticalcenterModal.hide()"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="verticalcenterModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #tooltippopoverModal="bs-modal"
  class="modal fade"
  id="tooltippopoverModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="tooltippopoverModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button
          type="button"
          (click)="tooltippopoverModal.hide()"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Popover in a modal</h5>
        <p>
          This
          <a
            href="#"
            role="button"
            class="btn btn-secondary popover-test"
            title="Popover title"
            data-content="Popover body content is set in this attribute."
            >button</a
          >
          triggers a popover on click.
        </p>
        <hr />
        <h5>Tooltips in a modal</h5>
        <p>
          <a href="#" class="tooltip-test" title="Tooltip">This link</a> and
          <a href="#" class="tooltip-test" title="Tooltip">that link</a> have
          tooltips on hover.
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="tooltippopoverModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #gridModal="bs-modal"
  class="modal fade"
  id="tooltippopoverModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="tooltippopoverModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button
          type="button"
          (click)="gridModal.hide()"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid example-rows">
          <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div>
          </div>
          <div class="row">
            <div class="col-md-3 ml-auto">.col-md-3 .ml-auto</div>
            <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto">.col-md-6 .ml-auto</div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              Level 1: .col-sm-9
              <div class="row">
                <div class="col-8 col-sm-6">Level 2: .col-8 .col-sm-6</div>
                <div class="col-4 col-sm-6">Level 2: .col-4 .col-sm-6</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="gridModal.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
