<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Basic</strong>
          <div class="card-header-actions">
            <a
              href="https://valor-software.com/ngx-bootstrap/#/alerts"
              target="_blank"
            >
              <small className="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <alert type="success">
            <strong>Well done!</strong> "You successfully read this important
            alert message."
          </alert>
          <alert type="info">
            <strong>Heads up!</strong> "This alert needs your attention, but
            it's not super important."
          </alert>
          <alert type="warning">
            <strong>Warning!</strong>" Better check yourself, you're not looking
            too good."
          </alert>
          <alert type="danger">
            <strong>Oh snap!</strong> "Change a few things up and try submitting
            again."
          </alert>
          <div>
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Base'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Base'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Base'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Link Color</strong>
        </div>
        <div class="card-body">
          <alert type="success">
            <strong>Well done!</strong> You successfully read
            <a href="#" class="alert-link">this important alert message</a>.
          </alert>
          <alert type="info">
            <strong>Heads up!</strong> This
            <a href="#" class="alert-link">alert needs your attention</a>, but
            it's not super important.
          </alert>
          <alert type="warning">
            <strong>Warning!</strong> Better check yourself, you're
            <a href="#" class="alert-link">not looking too good</a>.
          </alert>
          <alert type="danger">
            <strong>Oh snap!</strong>
            <a href="#" class="alert-link">Change a few things up</a> and try
            submitting again.
          </alert>
          <div>
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Link'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Link'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Link'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Additional Content</strong>
        </div>
        <div class="card-body">
          <alert type="success">
            <h4 class="alert-heading">Well done!</h4>
            <p>
              Aww yeah, you successfully read this important alert message. This
              example text is going to run a bit longer so that you can see how
              spacing within an alert works with this kind of content.
            </p>
            <p class="mb-0">
              Whenever you need to, be sure to use margin utilities to keep
              things nice and tidy.
            </p>
          </alert>
          <div>
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Content'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Content'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Content'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Dismissing</strong>
        </div>
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissible]="dismissible">{{
              alert.msg
            }}</alert>
          </div>
          <button
            type="button"
            class="btn btn-primary"
            (click)="dismissible = !dismissible"
          >
            Toggle dismissible
          </button>
          <button type="button" class="btn btn-primary ml-3" (click)="reset()">
            Reset
          </button>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Dismissing'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Dismissing'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Dismissing'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Dynamic html</strong>
        </div>
        <div class="card-body">
          <div *ngFor="let alert of alertsHtml">
            <alert [type]="alert.type"
              ><span [innerHtml]="alert.msg"></span
            ></alert>
          </div>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Dynamic-HTML'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Dynamic-HTML'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Dynamic-HTML'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Dynamic content</strong>
        </div>
        <div class="card-body">
          <alert type="success">{{ messages[index] }}</alert>

          <div *ngIf="index !== messages.length - 1; else elseBlock">
            <button class="btn btn-primary" (click)="changeText()">
              Change text
            </button>
          </div>
          <ng-template #elseBlock>
            <button class="btn btn-primary" (click)="index = 0">Reset</button>
          </ng-template>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Dynamic-Content'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Dynamic-Content'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Dynamic-Content'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Dismiss on timeout</strong>
        </div>
        <div class="card-body">
          <alert type="success" dismissOnTimeout="5000">
            <strong>Well done!</strong> You successfully read this important
            alert message.
          </alert>

          <p>
            If you missed alert on top of me, just press
            <code>Add more</code> button
          </p>
          <div *ngFor="let alert of alertsDismiss">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{
              alert.msg
            }}</alert>
          </div>
          <button type="button" class="btn btn-primary" (click)="add()">
            Add more
          </button>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Timeout'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Timeout'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Timeout'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Global styling</strong>
        </div>
        <div class="card-body">
          <style>
            .alert-md-color {
              background-color: #7b1fa2;
              border-color: #4a148c;
              color: #fff;
            }
          </style>
          <alert type="md-color">
            <strong>Well done!</strong> You successfully read this important
            alert message.
          </alert>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Global'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Global'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Global'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Component level styling</strong>
        </div>
        <div class="card-body">
          <alert type="md-local">
            <strong>Well done!</strong> You successfully read this important
            alert message.
          </alert>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Component'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Component'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Component'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Configuring defaults</strong>
        </div>
        <div class="card-body">
          <alert>
            <strong>Well done!</strong> You successfully read this important
            alert message.
          </alert>
          <alert type="info">
            <strong>Heads up!</strong> This alert needs your attention, but it's
            not super important.
          </alert>
          <div class="mt-3">
            <mat-tab-group
              [(selectedIndex)]="codemirrors['Default'].tabIndex"
              mat-stretch-tabs
              class="example-stretched-tabs mat-elevation-z4"
            >
              <mat-tab label=".HTML">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorHTMLOptions"
                      [(ngModel)]="codemirrors['Default'].template"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label=".TS">
                <ng-template matTabContent>
                  <div>
                    <ngx-codemirror
                      #codemirror
                      [options]="codeMirrorTSOptions"
                      [(ngModel)]="codemirrors['Default'].component"
                    >
                    </ngx-codemirror>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
