<!-- <h1>Angular Router App</h1> -->
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <nav>
  <ul>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Component</a></li>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home Component</a></li>
    <li><a routerLink="/templatedrivenform" routerLinkActive="active" ariaCurrentWhenActive="page">Template Driven Form Component</a></li>
    <li><a routerLink="/reactiveform" routerLinkActive="active" ariaCurrentWhenActive="page">Reactive Form Component</a></li>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login Component</a></li>
    <li><a routerLink="/pagenotfound" routerLinkActive="active" ariaCurrentWhenActive="page">Pagenotfound Component</a></li>

  </ul>
</nav> -->
<!-- The routed views render in the <router-outlet>-->
<!-- CSS only -->
<router-outlet ></router-outlet>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
></ngx-spinner>
<ng-snotify></ng-snotify>
